# Node.js
node_modules/

# Nuxt.js build directory
.nuxt/

# .env file
.env

# Log files
*.log
dist
# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.output/
# Dependency directory
/.yarn

# Build files
dist/